.genres-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 18vw;
    padding-right: 3vw;
    padding-top: 20px;
}


@media (max-width: 1200px) {
    .genres-list {
        padding: 1vw;
    }
}
