.sidebar {
    background-color: #242424;
    color: black;
    position: fixed;
    padding-top: 15vh;
    height: 100%;
    width: 17vw;
    z-index: 100;

    li {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    a {
        color: white;
        display: flex;
        justify-content: start;
        gap: 20px;
        align-items: center;
    }
}
