.sidebar {
    background-color: #242424;
    color: black;
    position: fixed;
    padding-top: 15vh;
    height: 100%;
    width: 17vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
        font-size: 1.3rem;
        color: white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    a {
        color: white;
        display: flex;
        justify-content: start;
        gap: 20px;
        align-items: center;
    }
}


@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}