.sidebar {
    background-color: #242424;
    color: black;
    position: fixed;
    padding-top: 15vh;
    height: 100%;
    width: 17vw;
    z-index: 100;

    li {
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}
